In [1]:

# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATASETS
# TO THE CORRECT LOCATION (/kaggle/input) IN YOUR NOTEBOOK,
# THEN FEEL FREE TO DELETE CELL.
'''
import os
import sys
from tempfile import NamedTemporaryFile
from urllib.request import urlopen
from urllib.parse import unquote
from urllib.error import HTTPError
from zipfile import ZipFile

CHUNK_SIZE = 40960 
DATASET_MAPPING = 'tabular-playground-series-feb-2021:https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-competitions-data%2Fkaggle-v2%2F25225%2F1923495%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20210208%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20210208T152806Z%26X-Goog-Expires%3D259199%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3Daa7afbe87c577f16206b41ef193717b54b23ff6ba665e6f18f4d03f107f08c34d3ad6f5afa301d1b0f289b6d82a9101c38ab20a8fa96346fefb5446bd298f44daac2c5b38eaaa52644635d0dcea55f6beb935a1f575478f425a15e0cf0dd9434ff9962355512a40b5504a12e5a70d636276a611c8ee194987c6e8ded3b36877f6c0875afd75333b0df4d1fdf6051eb1711f7779f4f6542360cb860b6e6e9afa88a51c27cabf129a460f6f1a72850e889232370ef0ee1f2513cb44d47cc87faa6204be8ddc5b4e2d9fd28b5dcf704ef5e65bdd969dc18d0079586d8c79c12e65057a49827978d009ed6797670d2a28f2174aba5fcbfdf9db7306d59f50d11da8d'
KAGGLE_INPUT_PATH='/home/kaggle/input'
KAGGLE_INPUT_SYMLINK='/kaggle'

os.makedirs(KAGGLE_INPUT_PATH, 777)
os.symlink(KAGGLE_INPUT_PATH, os.path.join('..', 'input'), target_is_directory=True)
os.makedirs(KAGGLE_INPUT_SYMLINK)
os.symlink(KAGGLE_INPUT_PATH, os.path.join(KAGGLE_INPUT_SYMLINK, 'input'), target_is_directory=True)

for dataset_mapping in DATASET_MAPPING.split(','):
    directory, download_url_encoded = dataset_mapping.split(':')
    download_url = unquote(download_url_encoded)
    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)
    try:
        with urlopen(download_url) as zipfileres, NamedTemporaryFile() as tfile:
            total_length = zipfileres.headers['content-length']
            print(f'Downloading {directory}, {total_length} bytes zipped')
            dl = 0
            data = zipfileres.read(CHUNK_SIZE)
            while len(data) > 0:
                dl += len(data)
                tfile.write(data)
                done = int(50 * dl / int(total_length))
                sys.stdout.write(f"\r[{'=' * done}{' ' * (50-done)}] {dl} bytes downloaded")
                sys.stdout.flush()
                data = zipfileres.read(CHUNK_SIZE)
            print(f'\nUnzipping {directory}')
            with ZipFile(tfile) as zfile:
                zfile.extractall(destination_path)
    except HTTPError as e:
        print(f'Failed to load (likely expired) {download_url} to path {destination_path}')
        continue
    except OSError as e:
        print(f'Failed to load {download_url} to path {destination_path}')
        continue
print('Dataset import complete.')
'''

'\nimport os\nimport sys\nfrom tempfile import NamedTemporaryFile\nfrom urllib.request import urlopen\nfrom urllib.parse import unquote\nfrom urllib.error import HTTPError\nfrom zipfile import ZipFile\n\nCHUNK_SIZE = 40960 \nDATASET_MAPPING = \'tabular-playground-series-feb-2021:https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-competitions-data%2Fkaggle-v2%2F25225%2F1923495%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20210208%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20210208T152806Z%26X-Goog-Expires%3D259199%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3Daa7afbe87c577f16206b41ef193717b54b23ff6ba665e6f18f4d03f107f08c34d3ad6f5afa301d1b0f289b6d82a9101c38ab20a8fa96346fefb5446bd298f44daac2c5b38eaaa52644635d0dcea55f6beb935a1f575478f425a15e0cf0dd9434ff9962355512a40b5504a12e5a70d636276a611c8ee194987c6e8ded3b36877f6c0875afd75333b0df4d1fdf6051eb1711f7779f4f6542360cb860b6e6e9afa88a51c27cabf129a460f6f1a72850e889232370ef0ee1f2513cb44d47cc87faa6204be8ddc5b4e2d9fd28b5dcf704ef5e65bdd969dc18d0079586d8c79c12e65057a49827978d009ed6797670d2a28f2174aba5fcbfdf9db7306d59f50d11da8d\'\nKAGGLE_INPUT_PATH=\'/home/kaggle/input\'\nKAGGLE_INPUT_SYMLINK=\'/kaggle\'\n\nos.makedirs(KAGGLE_INPUT_PATH, 777)\nos.symlink(KAGGLE_INPUT_PATH, os.path.join(\'..\', \'input\'), target_is_directory=True)\nos.makedirs(KAGGLE_INPUT_SYMLINK)\nos.symlink(KAGGLE_INPUT_PATH, os.path.join(KAGGLE_INPUT_SYMLINK, \'input\'), target_is_directory=True)\n\nfor dataset_mapping in DATASET_MAPPING.split(\',\'):\n    directory, download_url_encoded = dataset_mapping.split(\':\')\n    download_url = unquote(download_url_encoded)\n    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)\n    try:\n        with urlopen(download_url) as zipfileres, NamedTemporaryFile() as tfile:\n            total_length = zipfileres.headers[\'content-length\']\n            print(f\'Downloading {directory}, {total_length} bytes zipped\')\n            dl = 0\n            data = zipfileres.read(CHUNK_SIZE)\n            while len(data) > 0:\n                dl += len(data)\n                tfile.write(data)\n                done = int(50 * dl / int(total_length))\n                sys.stdout.write(f"\r[{\'=\' * done}{\' \' * (50-done)}] {dl} bytes downloaded")\n                sys.stdout.flush()\n                data = zipfileres.read(CHUNK_SIZE)\n            print(f\'\nUnzipping {directory}\')\n            with ZipFile(tfile) as zfile:\n                zfile.extractall(destination_path)\n    except HTTPError as e:\n        print(f\'Failed to load (likely expired) {download_url} to path {destination_path}\')\n        continue\n    except OSError as e:\n        print(f\'Failed to load {download_url} to path {destination_path}\')\n        continue\nprint(\'Dataset import complete.\')\n'

In [2]:
import numpy as np
import pandas as pd

In [3]:
train_df = pd.read_csv('../input/tabular-playground-series-feb-2021/train.csv')
test_df = pd.read_csv('../input/tabular-playground-series-feb-2021/test.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../input/tabular-playground-series-feb-2021/train.csv'

In [14]:
train_df.head(5)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,A,B,A,A,B,D,A,E,C,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,B,A,A,A,B,B,A,E,A,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,A,A,A,C,B,D,A,B,C,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,A,A,A,C,B,D,A,E,G,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,A,B,A,A,B,B,A,E,C,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [15]:
train_df.describe()

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,250018.576947,0.524634,0.506649,0.444115,0.446214,0.455471,0.508337,0.478345,0.455904,0.459321,0.526899,0.504943,0.529938,0.524549,0.503349,7.456260
std,144450.150010,0.204875,0.235269,0.200089,0.238669,0.200695,0.231612,0.192432,0.204493,0.220642,0.204025,0.201549,0.230860,0.220892,0.225218,0.887295
min,1.000000,-0.093505,-0.055105,-0.060274,0.134760,0.189216,-0.087247,0.043953,0.208703,0.004041,0.073040,0.059644,0.064161,-0.005600,0.158121,0.000000
25%,124772.500000,0.370451,0.352307,0.314121,0.214572,0.279853,0.338747,0.339896,0.278041,0.308655,0.361957,0.338898,0.316662,0.332143,0.291289,6.798341
50%,250002.500000,0.492208,0.615156,0.457271,0.377823,0.411351,0.441384,0.410090,0.360736,0.425801,0.488867,0.519855,0.558827,0.407365,0.433909,7.496503
75%,375226.500000,0.654793,0.688150,0.554835,0.719758,0.621808,0.709515,0.604246,0.639388,0.541525,0.752765,0.672809,0.720381,0.732431,0.730870,8.161166
max,499999.000000,1.052666,0.851746,1.017689,1.006469,0.994050,1.044433,1.093312,1.036541,1.014156,0.972091,1.029773,1.038049,0.961370,0.873579,10.309208

# Checking Missing Values

In [16]:
train_df.isnull().sum()

id        0
cat0      0
cat1      0
cat2      0
cat3      0
cat4      0
cat5      0
cat6      0
cat7      0
cat8      0
cat9      0
cont0     0
cont1     0
cont2     0
cont3     0
cont4     0
cont5     0
cont6     0
cont7     0
cont8     0
cont9     0
cont10    0
cont11    0
cont12    0
cont13    0
target    0
dtype: int64

# Unique values for Categorical Columns

In [17]:
def get_unique_val(df, col):
    return df[col].unique()

In [18]:
# Training data
for i in range(0,10):
    print('Unique values of cat'+ str(i) + ': ')
    print(get_unique_val(train_df, 'cat'+ str(i)))

Unique values of cat0:
['A' 'B']
Unique values of cat1:
['B' 'A']
Unique values of cat2:
['A' 'B']
Unique values of cat3:
['A' 'C' 'D' 'B']
Unique values of cat4:
['B' 'C' 'A' 'D']
Unique values of cat5:
['D' 'B' 'A' 'C']
Unique values of cat6:
['A' 'B' 'D' 'C' 'E' 'I' 'G' 'H']
Unique values of cat7:
['E' 'B' 'D' 'G' 'F' 'A' 'C' 'I']
Unique values of cat8:
['C' 'A' 'G' 'E' 'D' 'F' 'B']
Unique values of cat9:
['I' 'F' 'N' 'K' 'B' 'L' 'G' 'H' 'O' 'A' 'J' 'M' 'C' 'D' 'E']

In [19]:
# Test Data
for i in range(0,10):
    print('Unique values of cat'+ str(i) + ': ')
    print(get_unique_val(test_df, 'cat'+ str(i)))

Unique values of cat0:
['A' 'B']
Unique values of cat1:
['B' 'A']
Unique values of cat2:
['A' 'B']
Unique values of cat3:
['C' 'A' 'D' 'B']
Unique values of cat4:
['B' 'A' 'C' 'D']
Unique values of cat5:
['D' 'B' 'A' 'C']
Unique values of cat6:
['A' 'B' 'C' 'D' 'E' 'I' 'H']
Unique values of cat7:
['E' 'D' 'B' 'G' 'F' 'I' 'A' 'C']
Unique values of cat8:
['E' 'C' 'D' 'G' 'A' 'F' 'B']
Unique values of cat9:
['G' 'L' 'F' 'I' 'A' 'K' 'M' 'O' 'N' 'H' 'B' 'J' 'C' 'E' 'D']

In [20]:
for i in range(0,10):
    train_minus_test = set(get_unique_val(train_df, 'cat'+ str(i))).difference(set(get_unique_val(test_df, 'cat'+ str(i))))
    test_minus_train = set(get_unique_val(test_df, 'cat'+ str(i))).difference(set(get_unique_val(train_df, 'cat'+ str(i))))
    print('-----Train - Test-----')
    print(train_minus_test)
    print('-----Test - Train-----')
    print(test_minus_train)
    if len(train_minus_test) > 0:
        for item in train_minus_test:
            train_df = train_df[train_df['cat'+ str(i)] != item]
    
    if len(test_minus_train) > 0:
        for item in test_minus_train:
            test_df = test_df[test_df['cat'+ str(i)] != item]

-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
{'G'}
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()
-----Train - Test-----
set()
-----Test - Train-----
set()

In [21]:
# Training data after removal of extra records that were present in either of training data and testing data but absent in another one
for i in range(0,10):
    print('Unique values of cat'+ str(i) + ': ')
    print(get_unique_val(train_df, 'cat'+ str(i)))

Unique values of cat0:
['A' 'B']
Unique values of cat1:
['B' 'A']
Unique values of cat2:
['A' 'B']
Unique values of cat3:
['A' 'C' 'D' 'B']
Unique values of cat4:
['B' 'C' 'A' 'D']
Unique values of cat5:
['D' 'B' 'A' 'C']
Unique values of cat6:
['A' 'B' 'D' 'C' 'E' 'I' 'H']
Unique values of cat7:
['E' 'B' 'D' 'G' 'F' 'A' 'C' 'I']
Unique values of cat8:
['C' 'A' 'G' 'E' 'D' 'F' 'B']
Unique values of cat9:
['I' 'F' 'N' 'K' 'B' 'L' 'G' 'H' 'O' 'A' 'J' 'M' 'C' 'D' 'E']

In [22]:
# Test Data after removal of extra records that were present in either of training data and testing data but absent in another one
for i in range(0,10):
    print('Unique values of cat'+ str(i) + ': ')
    print(get_unique_val(test_df, 'cat'+ str(i)))

Unique values of cat0:
['A' 'B']
Unique values of cat1:
['B' 'A']
Unique values of cat2:
['A' 'B']
Unique values of cat3:
['C' 'A' 'D' 'B']
Unique values of cat4:
['B' 'A' 'C' 'D']
Unique values of cat5:
['D' 'B' 'A' 'C']
Unique values of cat6:
['A' 'B' 'C' 'D' 'E' 'I' 'H']
Unique values of cat7:
['E' 'D' 'B' 'G' 'F' 'I' 'A' 'C']
Unique values of cat8:
['E' 'C' 'D' 'G' 'A' 'F' 'B']
Unique values of cat9:
['G' 'L' 'F' 'I' 'A' 'K' 'M' 'O' 'N' 'H' 'B' 'J' 'C' 'E' 'D']

In [23]:
train_df.count()

id        299997
cat0      299997
cat1      299997
cat2      299997
cat3      299997
cat4      299997
cat5      299997
cat6      299997
cat7      299997
cat8      299997
cat9      299997
cont0     299997
cont1     299997
cont2     299997
cont3     299997
cont4     299997
cont5     299997
cont6     299997
cont7     299997
cont8     299997
cont9     299997
cont10    299997
cont11    299997
cont12    299997
cont13    299997
target    299997
dtype: int64

In [24]:
test_df.count()

id        200000
cat0      200000
cat1      200000
cat2      200000
cat3      200000
cat4      200000
cat5      200000
cat6      200000
cat7      200000
cat8      200000
cat9      200000
cont0     200000
cont1     200000
cont2     200000
cont3     200000
cont4     200000
cont5     200000
cont6     200000
cont7     200000
cont8     200000
cont9     200000
cont10    200000
cont11    200000
cont12    200000
cont13    200000
dtype: int64

Creating a dataframe of categorical columns only

In [25]:
object_cols = train_df.select_dtypes(include=['object'])
object_cols.head(5)

  cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9
0    A    B    A    A    B    D    A    E    C    I
1    B    A    A    A    B    B    A    E    A    F
2    A    A    A    C    B    D    A    B    C    N
3    A    A    A    C    B    D    A    E    G    K
4    A    B    A    A    B    B    A    E    C    F

# One - hot encoding
One - hot encoding does not work well if any categorical column has a lot of categorical values because it will increase size of the data. Hence, we will consider columns with upto 10 categorical values, rest categorical values will be dropped.

In [26]:
low_cardinality_cols = [col for col in object_cols if train_df[col].nunique()<10]
low_cardinality_cols

['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8']

In [27]:
high_cardinality_cols = list(set(object_cols) - set(low_cardinality_cols))
high_cardinality_cols

['cat9']

In [28]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder = OneHotEncoder(handle_unknown = 'ignore', sparse = False)
one_hot_encoded_cols = pd.DataFrame(one_hot_encoder.fit_transform(train_df[low_cardinality_cols]))
one_hot_encoded_cols.index = train_df.index

In [29]:
one_hot_encoded_cols.head(5)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [30]:
one_hot_encoded_test_cols = pd.DataFrame(one_hot_encoder.fit_transform(test_df[low_cardinality_cols]))
one_hot_encoded_test_cols.index = test_df.index

In [31]:
one_hot_encoded_test_cols.head(5)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

Separating numeric columns

In [32]:
numeric_train_df = train_df.drop(object_cols, axis = 1)

In [33]:
numeric_train_df.head(5)

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1,0.923191,0.684968,0.124454,0.217886,0.281421,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,2,0.437627,0.014213,0.357438,0.846127,0.282354,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,3,0.732209,0.760122,0.454644,0.812990,0.293756,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,4,0.705142,0.771678,0.153735,0.732893,0.769785,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,6,0.486063,0.639349,0.496212,0.354186,0.279105,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [34]:
numeric_test_df = test_df.drop(object_cols, axis = 1)

In [35]:
numeric_test_df.head(5)

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,0.331261,0.551131,0.486284,0.156058,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,5,0.402404,0.617546,0.296852,0.187440,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,15,0.530677,0.618126,0.760865,0.199872,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,16,0.439653,0.487403,0.715786,0.192808,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,17,0.389844,0.752760,0.315269,0.191734,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931

Combining one hot encoded categorical and numerical data

In [36]:
final_train_df = pd.concat([one_hot_encoded_cols, numeric_train_df], axis = 1)

In [37]:
final_train_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,target
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903,6.994023
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464,8.071256
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352,5.760456
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766,7.806457
4,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743,6.868974

In [38]:
final_test_df = pd.concat([one_hot_encoded_test_cols, numeric_test_df], axis = 1)

In [39]:
final_test_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931

In [40]:
final_train_df.columns

Index([       0,        1,        2,        3,        4,        5,        6,
              7,        8,        9,       10,       11,       12,       13,
             14,       15,       16,       17,       18,       19,       20,
             21,       22,       23,       24,       25,       26,       27,
             28,       29,       30,       31,       32,       33,       34,
             35,       36,       37,       38,       39,     'id',  'cont0',
        'cont1',  'cont2',  'cont3',  'cont4',  'cont5',  'cont6',  'cont7',
        'cont8',  'cont9', 'cont10', 'cont11', 'cont12', 'cont13', 'target'],
      dtype='object')

In [41]:
final_test_df.columns

Index([       0,        1,        2,        3,        4,        5,        6,
              7,        8,        9,       10,       11,       12,       13,
             14,       15,       16,       17,       18,       19,       20,
             21,       22,       23,       24,       25,       26,       27,
             28,       29,       30,       31,       32,       33,       34,
             35,       36,       37,       38,       39,     'id',  'cont0',
        'cont1',  'cont2',  'cont3',  'cont4',  'cont5',  'cont6',  'cont7',
        'cont8',  'cont9', 'cont10', 'cont11', 'cont12', 'cont13'],
      dtype='object')

# Splitting of training data into training and validation data

In [42]:
y = final_train_df.pop('target')
y.head(5)

0    6.994023
1    8.071256
2    5.760456
3    7.806457
4    6.868974
Name: target, dtype: float64

In [43]:
X = final_train_df
X.head(5)

,0,1,2,3,4,5,6,7,8,9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.281421,0.881122,0.421650,0.741413,0.895799,0.802461,0.724417,0.701915,0.877618,0.719903
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.282354,0.440011,0.346230,0.278495,0.593413,0.546056,0.613252,0.741289,0.326679,0.808464
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.293756,0.914155,0.369602,0.832564,0.865620,0.825251,0.264104,0.695561,0.869133,0.828352
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.769785,0.934138,0.578930,0.407313,0.868099,0.794402,0.494269,0.698125,0.809799,0.614766
4,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.279105,0.382600,0.705940,0.325193,0.440967,0.462146,0.724447,0.683073,0.343457,0.297743

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(X, y, random_state = 0)

In [45]:
x_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
306,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.549597,0.526069,0.836595,0.230923,0.349258,0.501529,0.377014,0.698604,0.325750,0.353437
48612,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.305644,0.459622,0.540611,0.324445,0.421098,0.849933,0.372542,0.208588,0.707692,0.194632
87267,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.277491,0.296080,0.346007,0.294980,0.286144,0.565461,0.752770,0.309088,0.725224,0.374624
19167,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.338112,0.183948,0.371749,0.453102,0.139595,0.303255,0.297499,0.250610,0.375246,0.725660
31322,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.279916,0.233538,0.336393,0.596583,0.301505,0.322828,0.353156,0.376640,0.442699,0.833210

In [46]:
x_val.head(5)

,0,1,2,3,4,5,6,7,8,9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
95629,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.279695,0.584195,0.537794,0.321365,0.421584,0.645232,0.695090,0.816376,0.639613,0.779314
9088,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.277990,0.935245,0.599043,0.622150,0.782638,0.838541,0.553532,0.766189,0.823816,0.230092
51626,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.282039,0.728301,0.416519,0.686144,0.441444,0.834180,0.566347,0.722709,0.634051,0.362356
244673,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.305489,0.415847,0.366929,0.629651,0.371933,0.394125,0.472986,0.396807,0.244606,0.226515
20801,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.746488,0.922164,0.219182,0.790905,0.890858,0.803971,0.432747,0.449271,0.821053,0.357360

# Model and training

In [47]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor(n_estimators = 100, random_state = 0)
model.fit(x_train, y_train)
pred = model.predict(x_val)
rmse = mean_squared_error(y_val, pred, squared = False)
rmse

0.8629479507070059

# Prediction

In [50]:
final_test_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931

In [52]:
predictions = model.predict(final_test_df)
predictions

array([7.67545224, 7.70351859, 7.57978512, ..., 7.37587732, 7.79308431,
       7.55770055])

# Submission

In [53]:
result = pd.DataFrame()
result['id'] = final_test_df['id']
result['target'] = predictions
result.head(5)

   id    target
0   0  7.675452
1   5  7.703519
2  15  7.579785
3  16  7.224458
4  17  7.432672

In [55]:
result.to_csv('../output/submission.csv', index = False)

In [56]:
!kaggle competitions submit -c tabular-playground-series-feb-2021 -f submission.csv -m "Message"

Traceback (most recent call last):
  File "/opt/conda/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/opt/conda/lib/python3.7/site-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/opt/conda/lib/python3.7/site-packages/kaggle/api/kaggle_api_extended.py", line 166, in authenticate
    self.config_file, self.config_dir))
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.